##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

[Unit]
Description=Mirror health checking <%= @check_service %>

[Service]
ExecStart=/usr/local/sbin/mirror-health
RuntimeDirectory=dsa-mirror-health-<%= @check_service %>
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
User=nobody
Group=nogroup
Restart=always

Environment="MIRROR_CHECK_SERVICE=<%= @check_service %>"
Environment="MIRROR_CHECK_URL=<%= @url %>"
Environment="MIRROR_CHECK_HEALTH_URL=<%= @health_url %>"
Environment="MIRROR_CHECK_INTERVAL=<%= @check_interval %>"
Environment="MIRROR_CHECK_HOSTS_FILE=/etc/dsa/health-check/<%= @check_service %>.hosts"

[Install]
WantedBy=multi-user.target
