##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost <%= @vhost_listen %> 127.0.0.1:80 [::1]:80 >
	ServerAdmin debian-admin@debian.org
	ServerName ftp.debian.org
	<% if scope.function_onion_global_service_hostname(['ftp.debian.org']) -%>
	ServerAlias <%= scope.function_onion_global_service_hostname(['ftp.debian.org']) %>
	<% end %>
	<% if scope.function_onionv3_global_service_hostname(['ftp.debian.org']) -%>
	ServerAlias <%= scope.function_onionv3_global_service_hostname(['ftp.debian.org']) %>
	<% end %>
	ServerAlias debian.backend.mirrors.debian.org
	ServerAlias *.debian.backend.mirrors.debian.org

	AddCharset UTF-8 .txt

	RedirectMatch "^/$" /debian/
	RedirectMatch "^/debian$" /debian/
	Alias /debian/ <%= @archive_root %>/
	Alias /_health /run/dsa-mirror-health-ftp/health
	<Directory /run/dsa-mirror-health-ftp/>
		Require all granted
	</Directory>

	ErrorLog /var/log/apache2/ftp.debian.org-error.log
	CustomLog /var/log/apache2/ftp.debian.org-access.log privacy

	Use ftp-archive <%= @archive_root %>

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
</VirtualHost>

# vim:set syn=apache:
