##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
#
# Bacula User Agent (or Console) Configuration File
#

Director {
  Name = <%= @director_name %>
  DIRport = <%= @port_dir %>
  address = <%= @director_address %>
  Password = "<%= @director_secret %>"

  TLS Enable = yes
  TLS Require = yes

  <%= scope['bacula::bacula_tls_ca_certificate_file'] %>
  <%= scope['bacula::bacula_tls_client_certificate'] %>
  <%= scope['bacula::bacula_tls_client_key'] %>
}
